/* nav bar and logo   */
.container {
    clear: both;
    overflow: auto;
    top: 0;

}

.container ul li:hover li {
    display: block;

}

.container ul li a {
    text-decoration: none;
    display: block;
    color: black;
    margin-top: 0%;
    top: 0%;
}

.container ul li a:hover {
    background-color: orange;
}


nav {
    float: right;
    padding-right: 60px;
    text-decoration: none;
    margin-top: 0%;
}

.logo img {
    float: left;
    width: 110px;
    height: 110px;
}

ul li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-family: raleway;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
}

ul li:hover {
    color: orange;

}

